---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout title="主页" description="主页">
  <section class="home-empty">

  </section>
</AppLayout>

<style>
  .home-empty {
    padding: 24px 0;
  }
</style>
